.custom-heading-h1 {
  font-size: 50px;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.015em;
  text-decoration: none;
  color: #5c4033;
}

.custom-heading-h1:hover {
  color: #64ff5c;
  font-size: 55px;
}
