h1 {
  cursor: pointer;
  margin: auto;
  background-color: #050404;
  padding: 50px;
  margin-bottom: 25px;
  font-size: 7vw;
  text-align: center;
  color: #073450;
}

h2 {
  font-size: 5vw;
  text-align: center;
  color: #073450;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 25px;
  }
}

h3 {
  font-size: 1vw;
}

h4 {
  font-size: 0.75vw;
}
h5 {
  font-size: 0.5vw;
}

h1:hover {
  color: #30727c;
}

.list-images {
  width: 22vw;
  height: 17vw;
  max-width: 200px;
  max-height: 200px;
}

.individual-image {
  width: 30vw;
  height: 30vw;
  padding-left: 34vw;
}

.review-section-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.review-section {
  cursor: pointer;

  background-color: #50d5b3;
  margin: 10px;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1px;
}

.review-section:hover {
  background-color: #378e78;
}
.individual-review-section {
  background-color: #50d5b3;
  margin: 10px;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1px;
}
.comment-section {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.each-comment-section {
  background-color: #f3d671;
  padding: 1vw;
  margin: 10px;
}

.individual-review-title {
  font-size: 2vw;
}
